DirectoryIndex index.json

<FilesMatch ".+\.php.*$">
    Require all denied
</FilesMatch>
<FilesMatch "^(getServiceChecks?)\.php.*$">
    Require all granted
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_URI} ^.*/services/serviceCheck$
RewriteRule ^ ./getServiceChecks.php [L]

RewriteCond %{REQUEST_URI} ^.*/services/(.+)/serviceCheck$
RewriteRule ^ ./getServiceCheck.php?id=%1 [L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^(.*)$ api/$1 [L]