DirectoryIndex index.json

<FilesMatch "^(checkService|index)\.php$">
    Require all granted
</FilesMatch>

<FilesMatch ".+\.php$">
    Require all denied
</FilesMatch>


RewriteEngine On
RewriteCond %{QUERY_STRING} live=true
RewriteCond %{REQUEST_URI} ^/services/([A-Za-z0-9]+)/status$
RewriteRule ^ /api/services/getLiveStatus.php?id=%1 [L,QSA]

RewriteRule ^$ /api/ [L]